<div class="desktop-overlay">
  <lottie-player src="https://assets10.lottiefiles.com/datafiles/uLmeWFRtCwUdQSm/data.json" background="transparent" class="desktop-overlay__lottie is--desktop" speed="1" loop autoplay></lottie-player>
  <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_uqnbeq1u.json" background="transparent" class="desktop-overlay__lottie is--mobile" speed="1" loop autoplay></lottie-player>
  <div class="desktop-overlay__lottie is--mobile" data-w-id="d83002b6-e7fb-a75c-7109-0499b90c7081" data-animation-type="lottie" data-src="documents/lottie-rotate-phone-transparent.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3" data-duration="0"></div>
  <h2 class="desktop-overlay__heading is--desktop">Please open this page on your mobile phone</h2>
  <h2 class="desktop-overlay__heading is--mobile">Please rotate your phone</h2>

</div>
