<div>

</div>

<h1>Friends</h1>
  <% @friendships.each do |friendship| %>
    <ul>
      <% if friendship.asker == current_user %>
        <li>Username: <%= friendship.receiver.username %></li>
      <% else %>
        <li>Username: <%= friendship.asker.username %></li>
      <% end %>
    </ul>
  <% end %>
