<section class="section">
  <div class="l-container is--home">
    <h1 class="home__h1">Organize activites with your friends, propose your ideas and vote!</h1>
    <div class="home__subheadline">Group decisions made easier</div>
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_h1bogema.json" background="transparent" class="home__lottie" speed="1" loop autoplay></lottie-player>
    <div class="home__btns-wrp">
      <%= link_to "Log in", new_user_session_path, class: "button is--inverted" %><br />
      <%= link_to "Sign up", new_user_registration_path, class: "button" %><br />
    </div>
  </div>
</section>

<%= link_to 'Sign out', destroy_user_session_path, data: {turbo_method: :delete} %>
