@media screen and (max-width: 479px) {
  .nav {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: flex;
    width: 100%;
    height: 65px;
    min-height: 0px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    border-top: 1px solid rgba(156, 171, 194, 0.35);
    background-color: white;
  }

  .nav__btn {
    display: flex;
    padding-bottom: 5px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 0 25%;
    color: $black;
  }

  .nav__btn-icon {
    position: absolute;
    bottom: 25px;
    width: auto;
    height: 1.88em;
    min-height: 30px;
  }

  .nav__btn.is--active {
    border-top: 2px solid #493abb;
    color: #493abb;
    font-weight: 600;
  }

  .nav__btn-icon.is--inactive {
    display: none;
  }

  .nav__btn-icon.is--profile {
    position: absolute;
    overflow: hidden;
    width: 35px;
    min-width: 30px;
    height: 35px;
    padding-right: 0px;
    padding-bottom: 0px;
    border: 1.5px solid $black;
    border-radius: 50%;
  }

  .nav__btn-icon.is--profile.is--active {
    border-width: 2px;
    border-color: #493abb;
  }

  .nav__btn-title {
    margin-top: 5px;
    font-size: 11px;
  }

  .nav__btn-title.is--active {
    font-weight: 600;
  }

  .nav__profile-img {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    max-width: none;
    object-fit: cover;
    object-position: 50% 0%;
  }
}
