.btn-signup {
background-color: $purple-main;
border-radius: 5px;
color: white;
padding: 8px 16px;
display: block;
text-align: center;
}

.btn-login {
background-color: white;
border-radius: 5px;
color: #33329A;
border: 1px solid $purple-main;
padding: 8px 16px;
display: block;
text-align: center;
}

.btn-proposal1 {
background-color: $purple-main;
color: white;
border-radius: 5px;
padding: 8px 16px;
display: block;
text-align: center;
}

.btn-proposal2 {
background-color: white;
color:#493abb;
border: 1px solid $purple-main;
border-radius: 5px;
padding: 8px 16px;
display: block;
text-align: center;
}
