.btn-signup {
background-color: #33329A;
border-radius: 5px;
color: white;
padding: 8px 16px;
display: block;
text-align: center;
}

.btn-login {
background-color: white;
border-radius: 5px;
color: #33329A;
border: 1px solid #33329A;
padding: 8px 16px;
display: block;
text-align: center;
}

.btn-proposal1 {
background-color: #33329A;
color: white;
border-radius: 5px;
padding: 8px 16px;
display: block;
text-align: center;
}

.btn-proposal2 {
background-color: white;
color: #33329A;
border: 1px solid #33329A;
border-radius: 5px;
padding: 8px 16px;
display: block;
text-align: center;
}

.btn-interim {
background-color: white;
color: #33329A;
border: 1px solid #33329A;
border-radius: 5px;
padding: 6px 12px;
float: right;
}
