.btn-signup {
background-color: #33329A;
border-radius: 5px;
color: white;
padding: 8px 16px;
display: block;
text-align: center;
}

.btn-login {
background-color: white;
border-radius: 5px;
color: #33329A;
outline-color: #33329A;
border: 1px solid #33329A;
padding: 8px 16px;
display: block;
text-align: center;
}
