@media screen and (max-width: 479px) {
  .l-container.is--min-100vh.is--proposal-form {
    min-height: 145vh;
    padding-top: 150px;
  }

  .form-proposal {
    position: absolute;
    top: 0%;
    right: 0vw;
    z-index: 2;
    overflow: hidden;
    width: 100vw;
    transition: width 200ms ease;
  }

  .form-prop {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    margin-bottom: 15%;
  }

  .form-prop__input {
    display: flex;
    margin-bottom: 35px;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-prop__label {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  .form-prop__field {
    width: 100%;
    min-height: 120px;
    padding: 15px 10px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #dce2ea;
    border-radius: 5px;
    font-size: 1.24em;
    line-height: 1.4;
    font-weight: 300;
  }

  .form-prop__field.is--title {
    width: 100%;
    min-height: 40px;
    padding: 0px 10px 0px;
  }

  .top-elements__btn.is--proposal-done {
    font-size: 18px;
    position: fixed;
    z-index: 10;
    top: 17px;
    left: 265px;
    height: 35px;
    display: block;
  }

  .top-elements__btn.is--proposal-done.is--active {
    display: block;
  }

  #trix-toolbar-1 {
    white-space: normal !important;
    width: 100%;
  }

  .trix-button--icon-heading-1 {
    display: none;
  }

  trix-toolbar .trix-button-group button {
    background-color: white;
    border: 1 solid #dce2ea;
  }

  trix-toolbar .trix-button-group button.trix-button--icon-bold::before {
    background-image: none;
  }

  trix-toolbar .trix-button-row {
    justify-content: start;
  }

  trix-button .trix-button--icon .trix-button--icon-bold {
    min-height: 120px;
    min-width: 120px;
  }

}
