body {
  font-size: 1.0582010582010584vw;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  color: #020202;
  font-size: 1vw;
  line-height: 1;
  font-weight: 400;
}

/* Max Font Size */
@media screen and (min-width:1920px) {
body {font-size: 20.31746031746032px;}
}

.section {
  position: relative;
}

.l-container {
  position: relative;
  width: 100%;
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
  padding: 5.56em 7.29em;
  max-width: 1920px;
}

h1 {
  margin-top: 0em;
  margin-bottom: 0.35em;
  font-family: Poppins, sans-serif;
  font-size: 2.6em;
  line-height: 1.35;
  font-weight: 600;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0.74em;
  font-family: Poppins, sans-serif;
  font-size: 2.19em;
  line-height: 1.25;
  font-weight: 600;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0.47em;
  font-family: Poppins, sans-serif;
  font-size: 1.67em;
  line-height: 1.25;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0.52em;
  font-family: Poppins, sans-serif;
  font-size: 1.25em;
  line-height: 1;
  font-weight: 300;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0.78em;
  font-size: 1.09em;
  line-height: 1;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0.78em;
  font-size: 0.94em;
  line-height: 1;
  font-weight: 400;
}

p {
  margin-bottom: 0px;
  font-size: 1.09em;
  line-height: 1.45;
}

a {
  color: #222;
  font-size: 2em;
  line-height: 1.6;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}

a, a:hover, a:active, a:visited {
  cursor: pointer !important;
}

.is--min-100vh {
  min-height: 100vh;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 12px;
  }

  .l-container {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 2.75em;
  }

  h3 {
    font-size: 2.25em;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  .l-container {
    padding-top: 3.45em;
    padding-bottom: 3.45em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 5em;
  }

  h3 {
    font-size: 4.5em;
  }

  h4 {
    font-size: 4.75em;
  }

  h5 {
    font-size: 4.25em;
  }

  h6 {
    font-size: 4.15em;
  }

  p {
    font-size: 4em;
  }

  a {
    font-size: 4em;
  }

  .cta {
    font-size: 3.75em;
  }
}
