.login-picture {
width: 100%;
height: auto;
}

.button-font-fix {
font-size: 12px;
font-weight: 400;
margin-bottom: 10px;
}

.right-hand-side {
width: 100%;
display: block;
text-align: right;
}

.login__content-wrp {
  margin-bottom: 20px;
}

.login__lottie {
  transform: translateY(-7%);
}
